---
import ArticleSection from "@components/ArticleSection.astro";
import Container from "@components/Container.astro";
import Figure from "@components/Figure.astro";
import Footer from "@components/Footer.astro";
import Grid from "@components/Grid.astro";
import GridSection from "@components/GridSection.astro";
import Hero from "@components/Hero.astro";
import PreFooter from "@components/PreFooter.astro";
import Review from "@components/Review.astro";
import Section from "@components/Section.astro";
import Header from "@components/react/Header.jsx";
import Products from "../../src/mocks/product.json";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Host and sell digital products">
  <Header />
  <main>
    <Section class="mt-20 mb-20">
      <Container>
        <Hero />
      </Container>
    </Section>
    <Section>
      <Container>
        <Grid />
      </Container>
    </Section>
    <Section class="mt-20">
      <Container>
        <GridSection>
          <header
            class="mx-auto text-center order-1 lg:order-none lg:col-span-2"
          >
            <h2
              class="font-tiempos text-2xl lg:text-3xl text-center text-[#1A1715]"
            >
              What kinds of products can you sell with Podia?
            </h2>
            <p
              class="text-lg text-podia-description mt-4 text-center leading-relaxed order-2 lg:order-none"
            >
              Podia gives you the flexibility to sell whatever you want. That
              means you have more ways to grow your creator business.
            </p>
          </header>
          <ArticleSection
            class="order-3 lg:order-none"
            tag={Products.COURSES.tag}
            title={Products.COURSES.title}
            body={Products.COURSES.body}
            cta={Products.COURSES.cta.text}
            href={Products.COURSES.cta.link}
          />
          <Figure
            class="-order-1 lg:order-none"
            src={Products.COURSES.image}
            alt={Products.COURSES.title}
          />
        </GridSection>
      </Container>
    </Section>
    <Section class="mt-12 mb-24 md:my-20 lg:my-28">
      <Container>
        <Review
          src="/images/Stars__1_.webp"
          quote={Products.COURSES.review.quote}
          subtext={Products.COURSES.review.subtext}
        />
      </Container>
    </Section>
    <Section>
      <Container>
        <GridSection>
          <ArticleSection
            class="order-1 lg:order-none"
            tag={Products.DOWNLOADS.tag}
            title={Products.DOWNLOADS.title}
            body={Products.DOWNLOADS.body}
            cta={Products.DOWNLOADS.cta.text}
            href={Products.DOWNLOADS.cta.link}
          />
          <Figure
            class="-order-1 lg:order-none"
            src={Products.DOWNLOADS.image}
            alt={Products.DOWNLOADS.title}
          />
        </GridSection>
      </Container>
    </Section>
    <Section class="mt-12 mb-24 md:my-20 lg:my-28">
      <Container>
        <Review
          src="/images/Stars__1_.webp"
          quote={Products.DOWNLOADS.review.quote}
          subtext={Products.DOWNLOADS.review.subtext}
        />
      </Container>
    </Section>
    <Section>
      <Container>
        <GridSection>
          <ArticleSection
            class="order-1 lg:order-none"
            tag={Products.COACHING.tag}
            title={Products.COACHING.title}
            body={Products.COACHING.body}
            cta={Products.COACHING.cta.text}
            href={Products.COACHING.cta.link}
          />
          <Figure
            class="-order-1 lg:order-none"
            src={Products.COACHING.image}
            alt={Products.COACHING.title}
          />
        </GridSection>
      </Container>
    </Section>
    <Section class="mt-12 mb-24 md:my-20 lg:my-28">
      <Container>
        <Review
          src="/images/Stars__1_.webp"
          quote={Products.COACHING.review.quote}
          subtext={Products.COACHING.review.subtext}
        />
      </Container>
    </Section>
    <Section class="mt-12 mb-24 md:my-20 lg:my-28">
      <Container>
        <GridSection>
          <ArticleSection
            class="order-1 lg:order-none"
            tag={Products.WEBINARS.tag}
            title={Products.WEBINARS.title}
            body={Products.WEBINARS.body}
            cta={Products.WEBINARS.cta.text}
            href={Products.WEBINARS.cta.link}
          />
          <Figure
            class="-order-1 lg:order-none"
            src={Products.WEBINARS.image}
            alt={Products.WEBINARS.title}
          />
        </GridSection>
      </Container>
    </Section>
    <Section class="mb-24 md:my-20 lg:my-28">
      <Container>
        <PreFooter />
      </Container>
    </Section>
  </main>
  <Footer />
</Layout>
