---
import ArticleSection from '@components/ArticleSection.astro';
import Container from '@components/Container.astro';
import Figure from '@components/Figure.astro';
import Grid from '@components/Grid.astro';
import GridSection from '@components/GridSection.astro';
import Paragraph from '@components/Paragraph.astro';
import Section from '@components/Section.astro';
import Button from '@components/react/Button.jsx';
import Header from '@components/react/Header.jsx';
import Products from '../../src/mocks/product.json';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Section>
			<Container>
				<div class="flex flex-col-reverse lg:flex-row gap-16">
					<article>
						<p class="text-podia-secondary text-xs tracking-widest font-semibold mb-2">
							DIGITAL PRODUCTS
						</p>
						<h2 class="font-zen-antique font-semibold text-3xl">
							Sell online courses, coaching sessions, webinars, workshops, ebooks, and anything you can think of on Podia
						</h2>
						<Paragraph>
							Get everything you need in one place that you own. Podia takes care of hosting products, taking payments, and getting products to your customers. And you always control your own work.
						</Paragraph>
						<Button href='/signup'>
							Get your free account
						</Button>
					</article>
					<figure class="rounded-lg overflow-hidden">
						<picture>
							<img src="/images/digital_products-hero.webp" alt="">
						</picture>
					</figure>
				</div>
			</Container>
		</Section>
		<Section>
			<Container>
				<Grid/>
			</Container>
		</Section>
		<Section>
			<Container>
				<GridSection>
					<header class="mx-auto text-center lg:col-span-2">
						<h2 class="font-zen-antique font-medium text-3xl text-center text-[#1A1715]">
							What kinds of products can you sell with Podia?
						</h2>
						<p class="text-lg text-podia-description mt-4 text-center leading-relaxed">
							Podia gives you the flexibility to sell whatever you want. That means you have more ways to grow your creator business.
						</p>
					</header>
					<ArticleSection tag={Products.COURSES.tag} title={Products.COURSES.title} body={Products.COURSES.body}/>
					<Figure src={Products.COURSES.image} alt={Products.COURSES.title} />
				</GridSection>
			</Container>
		</Section>
		<Section>
			<Container>
					// todo: add stars section component
			</Container>
		</Section>
		<Section>
			<Container>
				<GridSection>
					<ArticleSection tag={Products.DOWNLOADS.tag} title={Products.DOWNLOADS.title} body={Products.DOWNLOADS.body}/>
					<Figure src={Products.DOWNLOADS.image} alt={Products.DOWNLOADS.title} />
				</GridSection>
			</Container>
		</Section>
		<Section>
			<Container>
					// todo: add stars section component
			</Container>
		</Section>
		<Section>
			<Container>
				<GridSection>
					<ArticleSection tag={Products.COACHING.tag} title={Products.COACHING.title} body={Products.COACHING.body}/>
					<Figure src={Products.COACHING.image} alt={Products.COACHING.title} />
				</GridSection>
			</Container>
		</Section>
		<Section>
			<Container>
					// todo: add stars section component
			</Container>
		</Section>
		<Section>
			<Container>
				<GridSection>
					<ArticleSection tag={Products.WEBINARS.tag} title={Products.WEBINARS.title} body={Products.WEBINARS.body}/>
					<Figure src={Products.WEBINARS.image} alt={Products.WEBINARS.title} />
				</GridSection>
			</Container>
		</Section>
	</main>
</Layout>

